<head>
    <title>Despre JokeMania:</title>
</head>
<body style="background-color: #252525; color: #ffffff">
<h1>Despre JokeMania:</h1>
<p>Joke Mania este o aplicatie Android care ne aduce zambetul pe buze de cate ori o deschidem cu cele mai noi bankuri adaugate de utilizatorii lui.</p>
<h2>Functionalitati:</h2>
<ul>
    <li>Vizualizarea ultimelor 10 bankuri adaugate</li>
    <li>Vizualizarea commenturilor pe pagina de detalli a bankului</li>
    <li>Adaugarea bankurilor</li>
    <li>Adaugarea commenturilor pe un anumit bank</li>
</ul>
<h2>In viitor:</h2>
<ul>
    <li>Inscriere utilizatori</li>
    <li>Categorii de bankuri</li>
    <li>Notificari push la adaugarea bankurilor noi intr-o anumita categorie</li>
</ul>
<p>Echipa JokeMania va doreste un zambet sanatos!</p>
</body>